*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 font-size: 1.2rem;
	color: #eee;
	user-select: none;
}

html{
  background: #222;
  height: 100%;
}

body{
  background: #373737;
  margin: auto;
  min-width: 360px;
  max-width: 540px;
  height: 100%;
}

a{text-decoration:none}
.flex{display:flex}
.flex-col{flex-direction:column}

header nav{
  line-height: 2rem;
}

nav > div{
  
  padding: 0 1rem;
  width: 100%;
  border-radius: 100%;
  animation: nav-init 1s linear forwards;
}

nav > div:first-child{
  --dir: -1;
  transform-origin: 100%;
}

nav > div:last-child{
  --dir: 1;
  text-align: right;
  transform-origin: 0;
}

header *{
  z-index: 99;
}

nav .menu{
  align-items: end;
}


nav .menu-toggler{
  justify-content: center;
  align-items: center;
  position: relative;
}

nav .menu-toggler input{
  opacity: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 99;
}

.menu-toggler span{
  z-index: 79;
}

.menu-toggler input:checked + span{
  
}

nav .menu-dropdown{
  top: 2rem;
  right: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  transition: all .4s;
}

nav .dropdown-expanded{
  height: 300%;
  opacity: 1;
  transition: all .4s;
}

nav .menu-dropdown div{
  height: 100%;
  position: relative;
  overflow: hidden;
}

nav .menu-dropdown button{
  background: #444;
  border: none;
  padding: .25rem .5rem;
  text-align: right;
}

.menu-dropdown button.active{
  animation: active-sect-btn 1.5s ease-in infinite;
}

main,
section{
  height: 100%;
}

main{
  position: relative;
}

section{
  display: none;
  position: absolute;
}

section.home{
  display: block;
  ransform: translateX(100%);
}

section.home .content{
  display: none;
  flex-grow: 0;
  order: 2;
  text-align: center;
  order-block: 1px solid yellow;
}

section.home .content.active{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  order: 1;
  position: relative;
}

section.home .content .head{
  top: 100%;
}

section.home .content.active .head{
  background: #338;
  width: 100%;
  position: absolute;
  top: 0;
  line-height: 2rem;
  overflow: hidden;
  transition: top .4s ease-out;
}

.head input[type=radio]{
  display: none;
}

.active .head span > span{
  animation: active-label 1.8s linear infinite var(--delay);
}

.active .head > span{
  --anm-duration: 2s;
  --anm-delay: -1s;
  --anm-color: #0ff;
  background: linear-gradient(to var(--grad-dir), transparent, var(--anm-color));
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  animation: border var(--anm-duration) linear infinite;
}

.active .head > span:nth-child(1),
.active .head > span:nth-child(2){
  --from: -1;
  --to: 1;
  --grad-dir: right;
  top: 0;
}

.active .head > span:nth-child(3),
.active .head > span:nth-child(4){
  --from: 1;
  --to: -1;
  --grad-dir: left;
  bottom: 0;
}

.active .head > span:nth-child(2),
.active .head > span:nth-child(4){
  animation-delay: var(--anm-delay);
}

.content > .body{
  height: 0;
  overflow: hidden;
}

.content.active > .body{
  display: flex;
  justify-content: center;
  padding: 3.6rem 1.4rem 2rem;
  height: 100%;
  animation: active-body .8s linear forwards;
}

.body > .glass{
  opacity: 0;
  transform: scale(.4, .2);
}

.active .body > .glass{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgba(223, 223, 223, .4);
  padding: 1rem .6rem;
  border-radius: 16px;
  opacity: 1;
  transform: scale(1, 1);
  backdrop-filter: blur(8px);
  transition: opacity 1s, transform .6s .2s, background .4s, backdrop-filter .4s;
}

.active .glass *{
  transition: color .4s;
}

.active .glass:hover{
  background: rgba(200, 230, 230, .6);
  backdrop-filter: blur(30px);
  transition: background .6s, color .6s, backdrop-filter .6s;
}

.active .glass:hover *{
  color: #222;
  transition: color .6s;
}

.glass *{
  font-size: calc(1.5rem - 1.5vmin);
  color: #ddd;
}

.glass button{
  background: #ee8;
  margin: .5rem auto 0;
  padding: 4px 10px;
  border: none;
  border-radius: 8px;
  transition: all .7s linear;
}

.glass button:hover{
  background: #fa0;
  cursor: pointer;
  letter-spacing: 2px;
  transition: all 7s linear;
}

.contact .glass p{
  text-align: left;
}

.contact .glass p a{
  display: flex;
  align-items: center;
  line-height: 2;
}

.contact .glass p a:hover > *{
  color: #770;
  transition: all .6s;
}

.contact .glass a svg{
  display: inline-block;
  width: 2em;
}

.alert{
  background: #f70;
  color: #000;
  padding: 2rem;
  opacity: 0;
  position: fixed;
  animation: unset;
}


@keyframes alert{
40%, 70%{ opacity: 1; transform: translateY(40px) }
    100%{ opacity: 0; transform: unset }
}

@keyframes nav-init{
  0%{ transform: translate(calc(4rem * var(--dir)), 100vh) rotate(calc(90deg * var(--dir))) }
 60%{ transform: translate(calc(1rem * var(--dir)), 4rem) }
 70%{ border-radius: 100% }
100%{ background: rgb(140, 50, 140); opacity: 1; border-radius: unset }
}

@keyframes active-sect-btn{
  50%{ color: #0ff }
}

@keyframes active-label{
  0%{ color: #ddd }
 70%{ color: #aee }
100%{ color: #ea7 }
}

@keyframes active-body{
  0%{ transform: scale(0,   0) }
 40%{ transform: scale(1,   1) }
 70%{ transform: scale(1.2, 1.2) }
100%{ transform: scale(1,   1) }
}

@keyframes border{
from{ transform: translateX(calc(100% * var(--from))) }
  to{ transform: translateX(calc(100% * var(--to))) }
}